<div class='flex box-border h-screen w-full pl-2 py-2'>
  <!-- Charts container start -->
  <div class='bg-secondary w-full h-full overflow-y-scroll rounded-3xl'>


    <div class='pt-2 mb-4 w-full flex'>
      <div class='w-1/2 p-4'>{% include "graphs/charts/altitude.html" with place="general" %}</div>
      <div class='w-1/2 p-4'>{% include "graphs/charts/temperature.html" with place="general" %}</div>
    </div>

    <div class='mb-4 flex'>
      <div class='w-1/2 p-4'>{% include "graphs/charts/acelerations.html" with place="general" %}</div>
      <div class='w-1/2 p-4'>{% include "graphs/charts/gyros.html" with place="general" %}</div>
    </div>

    <div class='p-4 flex w-full justify-center'>
      <div class='w-[60%]'>{% include "graphs/charts/pressure.html" with place="general" %}</div>
    </div>

  </div>

  <!-- Charts container end -->
</div>
