<div class='flex flex-col items-center w-full'>
  <h3 class='text-primary font-bold text-lg mb-1'>Presión atmosferica</h3>
  <canvas class='mb-2 p-2 bg-white rounded-xl' id='{{ place }}_pressure_canvas'></canvas>
  <div class='flex justify-between w-full'>
    <div class='flex'>
      <div class='flex'>
        <button id='{{ place }}_pressure_add_suggested_minimum_button' class='h-6 mx-2 px-2 text-white rounded-full bg-primary'>+</button>
        <p class='w-12 text-center' id='{{ place }}_pressure_suggested_minimum'></p>
        <button id='{{ place }}_pressure_subtract_suggested_minimum_button' class='h-6 mx-2 px-3 text-white rounded-full bg-primary'>-</button>
      </div>
      <p>↓ Margenes ↑</p>
      <div class='flex'>
        <button id='{{ place }}_pressure_add_suggested_maximum_button' class='h-6 mx-2 px-2 text-white rounded-full bg-primary'>+</button>
        <p class='w-12 text-center' id='{{ place }}_pressure_suggested_maximum'></p>
        <button id='{{ place }}_pressure_subtract_suggested_maximum_button' class='h-6 mx-2 px-3 text-white rounded-full bg-primary'>-</button>
      </div>
    </div>
    <div class='flex'>
      <label class='mr-2' for="pressure_units">Unidad:</label>
      <select class='px-2 bg-primary text-secondary rounded-xl' name="pressure_units" id="{{ place }}_pressure_units">
        <option value="hectopascal">hPa</option>
        <option value="pascal">Pa</option>
      </select>
    </div>
  </div>
</div>

<script>
(() => {
  const ws = new WebSocket('ws://localhost:8000/ws/pocketqube/');
  const chartCanvas = document.getElementById('{{ place }}_pressure_canvas');
  const unitsSelect = document.getElementById('{{ place }}_pressure_units');
  const suggestedMinimum = document.getElementById('{{ place }}_pressure_suggested_minimum');
  const suggestedMaximum = document.getElementById('{{ place }}_pressure_suggested_maximum');
  const meditions = new Array(25);
  const hectopascalValues = new Array(25);
  const pascalValues = new Array(25);
  const convertHectopascalToPascal = hectopascal => hectopascal * 100;

  const myChart = new Chart(chartCanvas, {
    type: 'line',
    data: {
      labels: meditions,
      datasets: [{
        data: hectopascalValues,
        borderWidth: 4
      }]
    },
    options: {
      animation: {
        duration: 0
      },
      scales: {
        y: {
          beginAtZero: false,
          suggestedMin: -1200,
          suggestedMax: 1200
        }
      },
      plugins: {
        legend: {
          display: false,
        },
      },
    }
  });

  suggestedMinimum.innerText = myChart.config.options.scales.y.suggestedMin;
  suggestedMaximum.innerText = myChart.config.options.scales.y.suggestedMax;
  
  document.getElementById('{{ place }}_pressure_subtract_suggested_minimum_button').onclick = () => {
    myChart.config.options.scales.y.suggestedMin -= 100;
    suggestedMinimum.innerText = myChart.config.options.scales.y.suggestedMin;
    myChart.update();
  }

  document.getElementById('{{ place }}_pressure_add_suggested_minimum_button').onclick = () => {
    myChart.config.options.scales.y.suggestedMin += 100;
    suggestedMinimum.innerText = myChart.config.options.scales.y.suggestedMin;
    myChart.update();
  }

  document.getElementById('{{ place }}_pressure_subtract_suggested_maximum_button').onclick = () => {
    myChart.config.options.scales.y.suggestedMax -= 100;
    suggestedMaximum.innerText = myChart.config.options.scales.y.suggestedMax;
    myChart.update();
  }

  document.getElementById('{{ place }}_pressure_add_suggested_maximum_button').onclick = () => {
    myChart.config.options.scales.y.suggestedMax += 100;
    suggestedMaximum.innerText = myChart.config.options.scales.y.suggestedMax;
    myChart.update();
  }

  unitsSelect.addEventListener('change', function(e) {
    if (unitsSelect.value === 'pascal') {
      myChart.config.data.datasets[0].data = pascalValues;
    } else {
      myChart.config.data.datasets[0].data = hectopascalValues;
    }
    myChart.update();
  });

  ws.onmessage = function(e) {
    const data = JSON.parse(e.data);

    meditions.shift();
    meditions.push(data.medition);

    hectopascalValues.shift();
    hectopascalValues.push(data.pressure);
    pascalValues.shift();
    pascalValues.push(convertHectopascalToPascal(data.pressure));

    myChart.update()
  }
})();
</script>
