{% load static %}

<div class='h-screen w-full px-8 py-4 flex'>
  <div class='flex justify-center mr-8 bg-secondary h-full w-full rounded-3xl'>
    <div class='flex flex-col items-center my-4 mx-14 w-full'>
      <h3 class='text-primary font-bold text-lg mb-1'>Altitud</h3>
      <canvas class='p-2 bg-white rounded-xl' id="altitude_canvas_atmosfera"></canvas>
    </div>
  </div>
  {% include "graphs/right_sidebar.html" %}

<script type='text/javascript' src="{% static 'js/chart.umd.min.js' %}" defer></script>
<script type='text/javascript' src='{% static "js/atmosfera.js" %}' defer></script>

</div>
