{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PocketQube</title>
  <link href="{% static 'src/output.css' %}" rel="stylesheet">
  <script type='text/javascript' src="{% static 'js/libraries/chart.umd.min.js' %}"></script>
  <script defer type='text/javascript' src='{% static "js/base.js" %}'></script>
</head>

<body class='flex w-full h-screen'>

  <!-- Sidebar start -->
  <aside class='flex flex-col items-center bg-primary w-[5%] h-screen'>
    <div class='box-border m-2 h-[80px] w-[80px] rounded-full bg-secondary'></div>
    <div class='mt-16 font-semibold'>
        <div id='generalBtn' class='mb-12 text-center text-secondary text-xs cursor-pointer hover:underline'>
          General
        </div>
        <div id='atmosferaBtn' class='mb-12 text-center text-secondary text-xs cursor-pointer hover:underline'>
          Atmosfera
        </div>
        <div id='estructuraBtn' class='mb-12 text-center text-secondary text-xs cursor-pointer hover:underline'>
          Estructura
        </div>
        <div id='mensajeriaBtn' class='mb-12 text-center text-secondary text-xs cursor-pointer hover:underline'>
          Mensajeria
        </div>
    </div>
  </aside>
  <!-- Sidebar end -->

  <!-- Content start -->
  <main id='content' class='w-[75%] box-border'>
    <div id="general">
      {% include "graphs/views/general.html" %}
    </div>

    <div id='atmosfera' class='hidden'>
      {% include "graphs/views/atmosfera.html" %}
    </div>

    <div id='estructura' class='hidden'>
      {% include "graphs/views/estructura.html" %}
    </div>

    <div id="mensajeria" class='hidden'>
      {% include "graphs/views/mensajeria.html" %}
    </div>
  </main>
  <!-- Content end -->

    <div class='p-2 w-[20%] box-border'>{% include "graphs/right_sidebar.html" %}</div>
</body>
</html>

