{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PocketQube</title>
  <link href="{% static 'src/output.css' %}" rel="stylesheet">
  <script type='text/javascript' src="{% static 'js/libraries/chart.umd.min.js' %}"></script>
  <script defer type='text/javascript' src='{% static "js/base.js" %}'></script>
</head>

<body class='flex w-full h-screen'>

  <!-- Sidebar start -->
  <aside class='p-4 flex flex-col items-center bg-primary w-[200px] h-screen'>
    <div class='h-[120px] w-[120px] rounded-full bg-secondary'></div>
    <div class='mt-16'>
        <div id='generalBtn' class='mb-12 text-secondary text-xl cursor-pointer hover:underline'>
          General
        </div>
        <div id='atmosferaBtn' class='mb-12 text-secondary text-xl cursor-pointer hover:underline'>
          Atmosfera
        </div>
        <div id='estructuraBtn' class='mb-12 text-secondary text-xl cursor-pointer hover:underline'>
          Estructura
        </div>
        <div id='mensajeriaBtn' class='mb-12 text-secondary text-xl cursor-pointer hover:underline'>
          Mensajeria
        </div>
    </div>
  </aside>
  <!-- Sidebar end -->

  <!-- Content start -->
  <main id='content' class='h-screen w-screen box-border overflow-y-auto'>
    <div id="general">
      {% include "graphs/views/general.html" %}
    </div>

    <div id='atmosfera' class='hidden'>
      {% include "graphs/views/atmosfera.html" %}
    </div>

    <div id='estructura' class='hidden'>
      {% include "graphs/views/estructura.html" %}
    </div>

    <div id="mensajeria" class='hidden'>
      {% include "graphs/views/mensajeria.html" %}
    </div>
  </main>
  <!-- Content end -->

</body>
</html>

