{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PocketQube</title>
  <link href="{% static 'src/output.css' %}" rel="stylesheet">
  <script type='text/javascript' src="{% static 'js/libraries/chart.umd.min.js' %}"></script>
  <script defer type='text/javascript' src='{% static "js/base.js" %}'></script>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class='flex w-full max-w-screen-2xl h-screen box-border'>
  <!-- Content start -->
    {% include "graphs/views/general.html" %}

    <div class='p-2 w-full box-border'>{% include "graphs/right_sidebar.html" %}</div>
</body>
</html>

