<div class='bg-white flex flex-col h-screen w-full px-8 py-4'>
  <!--<div class='mb-4 w-full h-[8%] text-primary text-4xl'>Misión Jeeka</div>-->

  <!-- Status container start -->
  <div class='flex mb-4 bg-secondary w-full h-[500px] rounded-3xl'>

    <div class='py-5 px-8 m-1 w-[20%]'>
      <div>
        <div class='text-lg'>Estatus</div>
        <div class='mb-2 font-bold text-3xl'>----</div>
      </div>
      <div>
        <div class='text-lg'>Bateria</div>
        <div class='mb-2 font-bold text-3xl'>00%</div>
      </div>
      <div>
        <div class='text-lg'>Velocidad</div>
        <div class='mb-2 font-bold text-3xl'>00.00</div>
      </div>
      <div>
        <div class='text-lg'>Altitud</div>
        <div id='altitude-label' class='mb-2 font-bold text-3xl'>00.00</div>
      </div>
    </div>

    <div class='m-2 w-[60%] bg-white rounded-xl flex justify-center items-center'>Modelo 3D proximamente</div>

    <div class='text-end py-5 px-8 m-1 w-[20%]'>
      <div>
        <div class='text-lg'>Tiempo de vuelo</div>
        <div class='mb-2 font-bold text-3xl'>----</div>
      </div>
      <div>
        <div class='text-lg'>RSSI</div>
        <div class='mb-2 font-bold text-3xl'>00%</div>
      </div>
      <div>
        <div class='text-lg'>Señal GPS</div>
        <div class='mb-2 font-bold text-3xl'>00.00</div>
      </div>
    </div>
  </div>
  <!-- Status container end -->

  <!-- Charts container start -->
  <div class='px-9 bg-secondary w-full h-fit overflow-y-auto rounded-3xl'>

    <div class='w-full flex justify-evenly items-center'>
      {% include "graphs/charts/altitude.html" with place="general" %}
      {% include "graphs/charts/temperature.html" with place="general" %}
    </div>

    <div class='flex justify-evenly'>
      {% include "graphs/charts/acelerations.html" with place="general" %}
      {% include "graphs/charts/gyros.html" with place="general" %}
    </div>

    <div class='flex justify-evenly'>
      {% include "graphs/charts/pressure.html" with place="general" %}
    </div>

  </div>
  <!-- Charts container end -->
</div>
