{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
  <link href="{% static 'src/output.css' %}" rel="stylesheet">
</head>
<body>
  
<div class='bg-blue-600' style="width: 500px;">
  <canvas id="altitude_chart"></canvas>
</div>
<h1 class='text-black-50' id='title'>Yeap</h1>
<h1 class='text-red-600 font-bold'>yeap</h1>

</body>
<script type='module' src="{% static 'js/chart.umd.min.js' %}"></script>
<script type='module' src="{% static 'js/index.js' %}"></script>

</html>

