{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
  <link href="{% static 'src/output.css' %}" rel="stylesheet">
</head>

<body class='w-full'>
  
<div class='w-full flex justify-center items-center bg-red-600 h-10'>
      <button class='ml-4'>Vehiculo Lanzador</button>
      <button class='ml-4'>PocketQube</button>
</div>

<div class='w-full flex justify-center items-center'>
  <div style="width: 600px;">
    <canvas id="altitude_canvas"></canvas>
  </div>

  <div class='mx-6' style="width: 600px;">
    <canvas id="temperature_canvas"></canvas>
  </div>

  <div style="width: 600px;">
    <canvas id="battery_canvas"></canvas>
  </div>
</div>

<script type='module' src="{% static 'js/chart.umd.min.js' %}"></script>
<script type='module' src="{% static 'js/index.js' %}"></script>
</body>

</html>

