{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{% static 'js/htmx.min.js' %}" defer></script>
</head>

<body>

<div style="width: 500px;">
  <canvas id="altitude_chart"></canvas>
</div>

<script type='text/javascript' src="{% static 'js/index.js' %}" defer></script>
    
</body>
</html>
