<div class="flex flex-col bg-secondary w-[18rem] h-full rounded-3xl">
  <!-- Status titles start -->
  <div class="m-8">
    <div>
      <div class="text-lg">Estatus</div>
      <div class="mb-2 font-bold text-3xl">----</div>
    </div>
    <div>
      <div class="text-lg">Bateria</div>
      <div id="battery" class="mb-2 font-bold text-3xl">00%</div>
    </div>
    <div>
      <div class="text-lg">Velocidad</div>
      <div id="velo" class="mb-2 font-bold text-3xl">120km/h</div>
    </div>
    <div>
      <div class="text-lg">Altitud</div>
      <div id="alt" class="mb-2 font-bold text-3xl">00.00</div>
    </div>
  </div>
  <!-- Status titles end -->
</div>

<script>
  const ws = new WebSocket("ws://localhost:8000/ws/pocketqube/");
  ws.onmessage = function (e) {
    const data = JSON.parse(e.data);
    var battery = document.getElementById("battery");
    var alt = document.getElementById("alt");
    battery.innerHTML = data.battery + "%";
    alt.innerHTML = data.altitude + "m";
  };
</script>
