<div class='flex flex-col bg-secondary w-full h-full rounded-3xl'>
  <!-- 3D model start -->
  <div class='m-4 flex justify-center'>
    <div class='bg-white h-[250px] w-full rounded-2xl flex justify-center items-center'>Modelo 3D proximamente</div>
  </div>
  <!-- 3D model end -->

  <!-- Status titles start -->
  <div class='m-8'>
    <div>
      <div class='text-lg'>Estatus</div>
      <div class='mb-2 font-bold text-3xl'>----</div>
    </div>
    <div>
      <div class='text-lg'>Bateria</div>
      <div class='mb-2 font-bold text-3xl'>00%</div>
    </div>
    <div>
      <div class='text-lg'>Velocidad</div>
      <div class='mb-2 font-bold text-3xl'>00.00</div>
    </div>
    <div>
      <div class='text-lg'>Altitud</div>
      <div id='altitude-label' class='mb-2 font-bold text-3xl'>00.00</div>
    </div>
    <div>
      <div class='text-lg'>Tiempo de vuelo</div>
      <div class='mb-2 font-bold text-3xl'>----</div>
    </div>
    <div>
      <div class='text-lg'>RSSI</div>
      <div class='mb-2 font-bold text-3xl'>00%</div>
    </div>
    <div>
      <div class='text-lg'>Señal GPS</div>
      <div class='mb-2 font-bold text-3xl'>00.00</div>
    </div>
  </div>
  <!-- Status titles end -->

</div>
